@import "../assets/styles/global.css";

#todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: start;
}

#todo-list li {
  margin: 15px;

  &:hover {
    cursor: pointer;
  }
}

#todo-list li:hover .delete-button {
  opacity: 1;
  transform: scale(1);
}

.add-new-item {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.delete-button {
  opacity: 0;
  margin: 0 5px;
}

@media (hover: none) and (pointer: coarse) {
  .delete-button {
    opacity: 1;
    transform: scale(1);
  }
}
